@font-face {
    font-family: 'Stranger back in the Night';
    font-style: normal;
    font-weight: 400;
    src: local('Stranger back in the Night') url('https://fonts.cdnfonts.com/css/stranger-back-in-the-night'), format('woff');
}